* {
  box-sizing: border-box; }

/*insert custom css below*/
html{
  font-family: Avenir;
  padding: 10px;
  background-color:#d9d9d9;}
  
  a{ 
    color: #FFF;
    text-decoration: none;
    
  h2 {
    color: #000000;}
    
    .read-more{...}
